[Desktop Entry]
Encoding=UTF-8
Name=Weather Baro
Comment=Weather Temperature in Old Barometer

Icon=desktop
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Fernando Velez
X-KDE-PluginInfo-Email=feveal@hotmail.com
X-KDE-PluginInfo-Website=https://github.com/feveal/com.plasma.baro
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=Weather
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=com.plasma.baro

X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=478,478
X-Plasma-StandAloneApp=true
X-Plasma-MainScript=ui/Main.qml

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
